
<section id="contact">
  <form  class="forms">
    <label for="email">Email:</label>
    <input type="text" name="email" #email="" required />
    <span></span>
    <label for="consulta">Consulta:</label>
    <textarea name="consulta" id="" cols="30" rows="10" required></textarea>
    <span></span>
    <button type="submit">enviar</button>
  </form>

<div class="contacto">
  <a href="mailto:amoralartecursos15@correo.com" class="dos">Email</a>
  <a href="http://wa.me/541126876481"  class="dos">whatsapp</a>
  <a href="https://www.instagram.com/amoralartecursos/"  class="dos">Instagram</a>
  <a href="https://www.youtube.com/channel/UCdqjd8ipdHZibxIGzNImk3w"  class="dos">Youtube</a>
</div>
</section>
