

<section id="boxtips">
<div>
  <h2>TIPS</h2>
  <h3>-Anotar las medidas</h3>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis nesciunt sit itaque magnam perspiciatis? Est corrupti alias architecto perspiciatis porro eum nobis voluptatibus eveniet repudiandae, dicta dolorum, voluptas nihil! Ut. </p>
</div>
<div>
  <h3>-Calcar el Molde en Fiselina</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis veniam esse iusto commodi suscipit porro nam ipsum, nesciunt officiis, ipsam cupiditate nisi, odit enim reiciendis est vero labore aliquid tempora!</p>
</div>
<div>
  <h3>-Planchar la tela antes de cortar</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non asperiores officia magni, sed ut adipisci amet nam mollitia neque nisi dolores enim quas perspiciatis voluptate corporis placeat vero, quasi velit!</p>
</div>
<div>
  <h3>-Hilvanar antes de coser</h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas laudantium at non, eaque veritatis perferendis incidunt unde corporis sunt. Impedit deserunt veniam dolorum dolor, vero illum ipsum magnam quas doloremque.</p>
</div>
<div>
  <h3> -Respetar los centimentros de costura</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore vel magnam, sit magni harum, nihil saepe temporibus veritatis nostrum minus amet quasi id consectetur iste unde alias commodi corrupti sunt.</p>
</div>
<div>
  <h3> -Elegir bien la aguja antes de coser</h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam esse deleniti ab voluptas et corrupti blanditiis magni possimus rem fugiat porro, dolorum ex nesciunt consectetur perferendis quisquam asperiores cumque fugit.</p>
</div>
</section>
